*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.firstpanel{
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-color: black;
    height: 756px;
    background-position: center;
}

.aboutmeborder{
    border: 0px solid white;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style:solid;
    margin: 0 auto;
    width: 60%;
    height: fit-content;
    color: #ffffff;
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.leftpanel{
    background-color: transparent;
    height: fit-content;
    width: 50%;
    padding-inline: 40px;
    padding-top: 20px;
}

.leftpanelimg{
    background-color: transparent;
    width: 50%;
    padding-inline: 40px;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftpanelimg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.rightpanel{
    background-color: transparent;
    width: 50%;
    padding-inline: 40px;
    padding-top: 20px;
}

.rightpanelimg{
    background-color: transparent;
    width: 50%;
    padding-inline: 40px;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightpanelimg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#regulartext{
    color: white;
    font-size: 35px;
}

#firstheading{
    font-size: 200px;
    padding-top: 10px;
    padding-left: 20px;
    color: #ffffff;
}

#buttonz{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 80px;
    margin-top: 50px;
    width: fit-content;
}

#sectionheading{
    font-size: 140px;
    font-family: 'Share Tech', sans-serif;
    color: white;
    text-align: center;
    text-decoration:underline;
}

#subsectionheading{
    font-size: 50px;
    color: white;
    text-decoration: underline;
}

#blender{
    display: flex;
    flex-direction: column;
    margin-inline: 40px; 
    align-content: center;
}

.contactgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 40px;
    padding-top: 20px;
    gap: 40px;
}

.contactgrid figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactgrid img{
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.contactgrid figcaption{
    color: white;
    font-size: 10px;
    text-align: center;
}

.endpanel{
    background-color: #ae03ff;
    font-size: 20px;
    text-align: center;
    height: fit-content;
    padding-inline: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
